<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/popup.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/tags.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap-responsive.css'}" />
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/open layers/OpenLayers.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/OpenStreetMap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_reponse_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
        
        #{get 'moreEndScripts' /}
    </body>
</html>
