<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/wizard/info/infoWizard.css'}" />

<div id="info-wizard-container">
    <div class="container-fluid hero-unit span8" id="info-wizard-content-container">
        <div class="row-fluid">
            <h2 class="span12" id="info-wizard-title">&{'info.wizard.title.add'}</h2>
        </div>
        
        <div class="row-fluid">
            <div class="span12">
                <ul class="custom-breadcrumb">
                    <li class="first"><a href="#">&{'views.wizard.info.firstStep.name'}</a></li>
                    <li class="second"><a href="#">&{'views.wizard.info.secondStep.name'}</a></li>
                    <li class="third"><a href="#">&{'views.wizard.info.thirdStep.name'}</a></li>
                </ul>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12" id="info-wizard-step-content">
            </div>
        </div>
    </div>
</div>