<div class="row-fluid">
    <div class="span12">
        <fieldset>
            <legend class="info-wizard-content-step-subtitle">Contenu</legend>
            
            <form class="form-vertical" action="#">
                <div class="control-group">                
                    <div class="controls">
                        <div class="alert alert-error info-wizard-second-step-content-errorMsg"></div>
                        <textarea style="with: 100%; height:150px;" class="info-wizard-second-step-content"></textarea>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>