#{extends 'main.html' /}
#{set title:'urbantags - Rennes' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/wizard/info/infoWizard.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/infoList.css'}" />
#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/Class.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/CanFireEvents.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/EventRegistration.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/InfoWizard.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/MapBox.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/InfoList.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/PlaceSummary.js'}"></script>


#{jsRoutes /}

<script type="text/javascript">

$(function(){
  placeSummary = new PlaceSummary();
  $.get(jsRoutes.place.get({'id':${place.id}}), function(data){
    placeSummary.onPlaceSelected(data);
    infoList = new InfoList($("#info-list-container"), data);

    infoList.register("infoSelected", function(info)
    {
      $("#info-content-container").load(jsRoutes.info.webView({'id': info.id}));
      // $.get(jsRoutes.info.webView({'id': info.id}), function(data)
      // {
      //   $("#info-content-container").html(data);
      // });
    });

    infoList.register("infoUnselected", function()
      {
        $("#info-content-container").html("");
      });

  });
});

</script>
#{/set}

#{topBar user:user, userId:userId /}

<div class="fluid-container" id="main-container">
  <div class="row-fluid">
    <div class="span12 hero-unit">

      <div id="place-summary-container">
      </div>

      <fieldset class="row-fluid" style="margin-top: 30px;">
        <legend>Evénements</legend>
        <div class="span4" id="info-list-container"></div>
        <div class="span7 well" id="info-content-container"></div>
      </fieldset>
    </div>
  </div>
</div>