<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012 Ubikod
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--  <meta-data
      android:name="capptain:gcm:sender"
      android:value="849613601720\n" />
      
     
       -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubikod.urbantag"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    <!-- Some of the following permissions are needed by Capptain SDK. See documentation on https://app.capptain.com/doc -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.ubikod.urbantag.permission.C2D_MESSAGE" />
	<permission android:name="com.ubikod.urbantag.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.ForceOverflow" android:name=".UrbanTagApplication">
        <uses-library
            android:name="com.google.android.maps"
            required="true" />

        <activity
            android:name=".UrbanTagMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TagsListActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".PlaceListActivity" />
        <activity android:name=".ContentsListActivity" />
        <activity android:name=".ContentViewerActivity" />
        <activity android:name=".SearchActivity" />

        <service
            android:name="com.ubikod.capptain.android.service.CapptainService"
            android:label="UrbanTagService"
            android:process=":Capptain" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.ubikod.capptain.ICapptainService" />

                <data android:scheme="capptain" />
            </intent-filter>

            <meta-data android:name="capptain:api:id" android:value="b6a5b1113175bf391e442a8653876b84" />
            <meta-data android:name="capptain:api:level" android:value="15" />

       <!-- Activate log with adb   
          <meta-data
                android:name="capptain:log:test"
                android:value="true" /> --> 
        </service>
        
        <activity
            android:name="com.ubikod.capptain.android.sdk.reach.activity.CapptainTextAnnouncementActivity"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.ubikod.capptain.intent.action.ANNOUNCEMENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="capptain:track:browser:enabled"
                android:value="false" />
        </activity>
        <activity
            android:name="com.ubikod.capptain.android.sdk.reach.activity.CapptainWebAnnouncementActivity"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.ubikod.capptain.intent.action.ANNOUNCEMENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/html" />
            </intent-filter>

            <meta-data
                android:name="capptain:track:browser:enabled"
                android:value="false" />
        </activity>
        <activity
            android:name="com.ubikod.capptain.android.sdk.reach.activity.CapptainPollActivity"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.ubikod.capptain.intent.action.POLL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="capptain:track:browser:enabled"
                android:value="false" />
        </activity>

        <receiver android:name="com.ubikod.capptain.android.sdk.reach.CapptainReachReceiver" >
            <intent-filter>
                <action android:name="com.ubikod.capptain.intent.action.AGENT_CREATED" />
                <action android:name="com.ubikod.capptain.intent.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="DataPushHandler" >
            <intent-filter>
                <action android:name="com.ubikod.capptain.intent.action.DATA_PUSH" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="capptain:reportLocation"
            android:value="true" />
        <meta-data
            android:name="capptain:locationReport:realTime"
            android:value="true" />
        <meta-data
            android:name="capptain:locationReport:realTime:fine"
            android:value="true" />
        <meta-data
            android:name="capptain:locationReport:realTime:background"
            android:value="true" />
        <meta-data
            android:name="capptain:reach:ticker:icon"
            android:value="capptain_blank" />
        <meta-data
            android:name="capptain:reach:ticker:icon:blank"
            android:value="capptain_blank" />

        <uses-permission android:name="android.permission.VIBRATE" />
        
        <receiver android:name="com.ubikod.capptain.android.sdk.gcm.CapptainGCMEnabler">
		 <intent-filter>
		   <action android:name="com.ubikod.capptain.intent.action.AGENT_CREATED" />
		 </intent-filter>
		</receiver>

        <meta-data
         android:name="capptain:gcm:sender"
         android:value="849613601720\n" />
        
		<receiver android:name="com.ubikod.capptain.android.sdk.gcm.CapptainGCMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
		 <intent-filter>
		   <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		   <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		   <category android:name="com.ubikod.urbantag" />
		 </intent-filter>
		</receiver>

    </application>

</manifest>
