<script type="text/javascript">
jsRoutes = new Object();
jsRoutes.getLoginFormAction = #{jsAction @Secure.login() /};
jsRoutes.getPlaceListAction = #{jsAction @PlacesApi.getPlaceList() /};
jsRoutes.getPlaceDescription = #{jsAction @InfoApi.getPlaceDescription(':placeId') /};
jsRoutes.getPlaceEvents = #{jsAction @InfoApi.getPlaceEvents(':idPlace', ':filter', ':startDate', ':endDate') /};
jsRoutes.getPlaceInfosAction = #{jsAction @InfoApi.getPlaceInfos(':idPlace', ':from', ':to') /};
jsRoutes.showInfo = #{jsAction @Application.showInfo(':id') /};

jsRoutes.place = {};
jsRoutes.place.get = #{jsAction @PlacesApi.getPlace(':id') /};
jsRoutes.place.sheet = {
    'template': #{jsAction @PlaceSheet.getTemplate() /}
};

jsRoutes.place.list = {
  'view': {
    'item': #{jsAction @PlaceList.item() /}
  }  
};

jsRoutes.place.summary = {};
jsRoutes.place.summary.getTemplate = #{jsAction @PlaceSummary.getTemplate() /};
jsRoutes.place.summary.emptyView = #{jsAction @PlaceSummary.getEmptyMessage() /};

jsRoutes.place.add = #{jsAction @PlacesApi.savePlace(':json') /};
jsRoutes.place.remove = #{jsAction @PlacesApi.deletePlace(':id') /};

//      Infos
jsRoutes.info = {};
jsRoutes.info.parseContent = #{jsAction @InfoApi.getParsedContent(':content') /};
jsRoutes.info.list = {};
jsRoutes.info.list.view = {};
jsRoutes.info.list.view.item = #{jsAction @InfoList.item() /};
jsRoutes.info.list.view.getTemplate = #{jsAction @InfoList.getTemplate() /};
jsRoutes.info.list.view.empty = #{jsAction @InfoList.empty() /};
jsRoutes.info.add = #{jsAction @InfoApi.add(':json') /};
jsRoutes.info.remove = #{jsAction @InfoApi.deleteInfo(':id') /};
jsRoutes.info.webView = #{jsAction @InfoApi.webView(':id') /};
jsRoutes.info.webContent = #{jsAction @InfoApi.webContent(':id') /};

jsRoutes.tag = {};
jsRoutes.tag.getById = #{jsAction @TagApi.getTag(':id') /};
jsRoutes.tag.getArray = #{jsAction @TagApi.getTags(':json') /};


//     Place Wizard 
jsRoutes.placeWizardRoutes = {};
jsRoutes.placeWizardRoutes.getTemplate = #{jsAction @PlaceWizard.getTemplate() /};
jsRoutes.placeWizardRoutes.firstStep = #{jsAction @PlaceWizard.firstStep() /};
jsRoutes.placeWizardRoutes.secondStep = #{jsAction @PlaceWizard.secondStep() /};
jsRoutes.placeWizardRoutes.thirdStep = #{jsAction @PlaceWizard.thirdStep() /};
jsRoutes.placeWizardRoutes.validation = {};
jsRoutes.placeWizardRoutes.validation.firstStep = #{jsAction @PlaceWizard.validateFirstStep(':json') /};
jsRoutes.placeWizardRoutes.validation.secondStep = #{jsAction @PlaceWizard.validateSecondStep(':longitude', ':latitude', ':radius') /};


//     Info Wizard 
jsRoutes.infoWizard = {};
jsRoutes.infoWizard.getTemplate = #{jsAction @InfoWizard.getTemplate() /};
jsRoutes.infoWizard.firstStep = #{jsAction @InfoWizard.firstStep() /};
jsRoutes.infoWizard.secondStep = #{jsAction @InfoWizard.secondStep() /};
jsRoutes.infoWizard.thirdStep = #{jsAction @InfoWizard.thirdStep() /};
jsRoutes.infoWizard.validation = {};
jsRoutes.infoWizard.validation.firstStep = #{jsAction @InfoWizard.validateFirstStep(':json') /};
jsRoutes.infoWizard.validation.secondStep = #{jsAction @InfoWizard.validateSecondStep(':json') /};


jsRoutes.geocoding = {};
jsRoutes.geocoding.geocode = #{jsAction @Geocoding.geocode(':query') /};

jsRoutes.messages = {};
jsRoutes.messages.getMessage = #{jsAction @MessagesController.getMessage(':messageName') /};
</script>