<div class="loader"></div>
<div id="place-list-content" class="place-list-content">
<table class="table table-striped table-bordered" id="place-list-table">
    <thead>
    <tr>
        <th>&{'placeName'}</th>
        <th>&{'mainTag'}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>

#{if _user}
<div class="button-container">
    <input type="button" value="&{'add'}" class="btn btn-success" id="place-list-add-button" />
    <input type="button" value="&{'edit'}" class="btn btn-warning" id="place-list-edit-button" disabled="disabled" />
    <input type="button" value="&{'delete'}" class="btn btn-danger" id="place-list-delete-button" disabled="disabled" />
</div>
#{/if}