<script type="text/javascript" src="@{'/public/javascripts/topBar.js'}"></script>
<link rel="stylesheet" href="@{'/public/stylesheets/topBar.css'}" />

<div id="topBar">
    <span id="topBar-leftPart">
        Urban Tags - Rennes
    </span>
    <span id="topBar-rightPart">
    #{if _user}
        <a href="#">${_user}</a> | <a href="@{Secure.logout()}">&{'views.main.topBar.logout'}</a> | <a href="#">&{'views.main.topBar.help'}</a>
    #{/if}
    #{else}
        <a id="loginButton" href="#">&{'views.main.topBar.signin'}</a>
    #{/else}
    </span>
</div>

#{popup id:'loginDiv', title:'login' /}