<script type="text/javascript" src="@{'/public/javascripts/topBar.js'}"></script>
<link rel="stylesheet" href="@{'/public/stylesheets/topBar.css'}" />

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                #{if _user}
                    <li><a href="#">${_user}</a></li>
                    <li><a href="@{Secure.logout()}">&{'views.main.topBar.logout'}</a></li>
                    <li><a href="#">&{'views.main.topBar.help'}</a></li>
                #{/if}
                #{else}
                    <li>
                        <a id="loginButton" href="#">&{'views.main.topBar.signin'}</a>
                    </li>
                #{/else}
            </ul>
        </div>
    </div>
</div>

#{popup id:'loginDiv', title:'login' /}