<script type="text/javascript" src="@{'/public/javascripts/topBar.js'}"></script>

<script type="text/javascript">
    #{if _user}
    myName = "${_user}";
    myId = ${_userId};
    #{/if}
    #{else}
    myName = "";
    myId = -1;
    #{/else}
</script>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li><a class="brand" href="#">Urban Tag !</a></li>
            </ul>
                        
            <ul class="nav pull-right">
                #{if _user}
                    <li><a href="#">${_user}</a></li>
                    <li><a href="@{Secure.logout()}">&{'views.main.topBar.logout'}</a></li>
                    <li><a href="#">&{'views.main.topBar.help'}</a></li>
                #{/if}
                #{else}
                    <li>
                        <a href="#" id="loginButton">&{'views.main.topBar.signin'}</a>
                    </li>
                #{/else}
            </ul>
        </div>
    </div>
</div>

#{popup id:'loginDiv', title:'login' /}