#place-wizard-content-container{
	width: 800px;
	margin: -370px 0 0 -400px;
	max-height: 600px;
	height: 600px;
}

#place-wizard-content-container .modal-body{
	max-height: 400px;
	height: 400px;
}

/***********************
        BREADCRUMB
************************/
.custom-breadcrumb
{
	list-style: none;
	overflow: hidden;
	font: 18px Helvetica, Arial, Sans-Serif;
}

.custom-breadcrumb li
{
	float: left;
}

.custom-breadcrumb li a
{
	color: white;
	text-decoration: none;
	padding: 10px 0 10px 65px;
	background: #4C804C;
	position: relative;
	display: block;
	float: left;
	cursor: default;
}

.custom-breadcrumb li a:before{
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.custom-breadcrumb li a:after{
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid #4C804C;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.custom-breadcrumb li.first a {
    padding-left: 10px;
}

.custom-breadcrumb li.second a{
	background: #5B995B;
}
.custom-breadcrumb li.second a:after{
	border-left-color: #5B995B;
}
.custom-breadcrumb li.third a{
	background: #6AB36A;
}
.custom-breadcrumb li.third a:after {
	border-left-color: #6AB36A;
}
.custom-breadcrumb li.fourth a{
	background: #79CC79;
}
.custom-breadcrumb li.fourth a:after {
	border-left-color: #79CC79;
}
.custom-breadcrumb li.current a/*, .custom-breadcrumb li a:hover*/{
	background: #1195D8;
}
.custom-breadcrumb li.current a:after/*, .custom-breadcrumb li a:hover:after */{
	border-left-color: #1195D8;
}

/* .custom-breadcrumb li:last-child a { */
/*     background: transparent !important; */
/*     color: black; */
/*     pointer-events: none; */
/*     cursor: default; */
/* } */



/***********************
    FIRST STEP
************************/
#place-wizard-accuracy, #place-wizard-expiration{
    width: 35px;
}

input.hint{
  color: #B4B4B4;
}