<div class="span12">
    <div class="loader">
        <img src="@{'/public/images/loader.gif'}" />
    </div>
    <div class="place-summary-description well"></div>
    #{if user}
    <div>
        <input class="place-summary-button-edit-description-info btn btn-success" type="button" value="&{'view.info.list.edit.description'}" />
        <input class="place-summary-button-add-description-info btn btn-success" type="button" value="&{'view.info.list.add.description'}" />
        <input class="place-summary-button-delete-description-info btn btn-danger" type="button" value="&{'view.info.list.delete.description'}" />
    </div>
    #{/if}
</div>