#info-list-content
{
    /*background: #F1F1F1;*/
    overflow-y: scroll;
}

.place-sheet-info-list-container .button-container
{
    /*margin-top: 10px;*/
    text-align: center;
}

.place-sheet-info-list-container tr.info-list-item{
    cursor: pointer;
}

.place-sheet-info-list-container tr.info-list-item.selected td{
    background: #FFF7CF !important;
}