html{
	background: white;
}

body
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

form
{
	padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}