#map-container{
    display: table-cell;
    border: 1px 1px 1px 0px;
    border-color: #AFAFAF;
}

#map{
    width: 100%;
    height: 500px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: height;
    
}

input.hint{
	color: #B4B4B4;
}