<div id="info-list-content">
<table class="table table-striped table-bordered event-list-table">
    <thead>
    <tr>
        <th>&{'infoName'}</th>
        <th>&{'mainTag'}</th>
        <th>&{'startDate'}</th>
        <th>&{'endDate'}</th>
    </tr>
    </thead>
    <tbody class="event-list-body">
    </tbody>
</table>
</div>

#{if user}
<div class="button-container">
    <input type="button" value="&{'add'}" class="btn btn-success" id="info-list-add-button" />
    <input type="button" value="&{'edit'}" class="btn btn-warning" id="info-list-edit-button" disabled="disabled" />
    <input type="button" value="&{'delete'}" class="btn btn-danger" id="info-list-delete-button" disabled="disabled" />
</div>
#{/if}