<div class="row">
    <div class="span12">
        <a class='info-link' href='' target='_blank'>
            <h4 class='info-title'>
            </h4>
        </a>
        <div class='info-dates'>
            de <span class='info-start-date'></span> à <span class='info-end-date'></span>.
        </div>
        <div class='tag-list'>
        </div>
        <div class='info-summary-content'>
        </div>
        <div>
            <p>
            <input type="button" class="btn btn-warning btn-edit-info" value="&{'edit'}" />
<!--             <a class="btn btn-danger btn-delete-info" href="#"><i class="icon-trash icon-white"></i> &{'delete'}</a> -->
            <input type="button" class="btn btn-danger btn-delete-info" value="&{'delete'}" />
            <input type="button" class="btn btn-success btn-undo-info" value="&{'undo'}" />
            </p>
        </div>
    </div>
</div>