<div class="row-fluid">
    <h2 class="span12">&{'views.wizard.presentation.title'}</h2>
</div>

<div class="row-fluid">       
    <div class="span6">
        <h3>
            Bienvenue dans l'assistant d'ajout de lieu !
        </h3>
            Un lieu est défini par un nom, un seuil de précision, un temps d'expiration des positions, un ensemble de tags et une forme géométrique.
            <br /><br />
            Nous sommes conscients que cela représente beaucoup d'informations, mais ne vous inquiétez pas, tout ceci a été séparé en deux étapes:
            
            <ul>
                <li>Durant la première étape, vous serez invitez à saisir les informations textuelles concernant ce nouveau lieu.</li>
                <li>La seconde étape vous invitera à dessiner la forme géométrique correspondant à votre lieu.</li>
            </ul>
        <p>
            Il ne vous reste plus qu'à vous amusez !
        </p>
    </div>

    <div class="span6">
        <fieldset>
        <form class="form-horizontal">
        <legend>&{'views.wizard.place.firstStep.title'}</legend>
            <div class="control-group">
                <label class="control-label" for="place-wizard-first-step-name-text">Nom du lieu </label>
                <div class="controls">
                    <input type="text" id="place-wizard-first-step-name-text" />
                    <div id="place-wizard-first-step-name-text-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="place-wizard-first-step-accuracy">Précision minimum requise (mètres) </label>
                <div class="controls">
                    <input type="text" size="5" id="place-wizard-first-step-accuracy" />
                    <div id="place-wizard-first-step-accuracy-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="place-wizard-first-step-expiration">Ignorer les positions datant de plus de (minutes) </label>
                <div class="controls">
                    <input type="text" size="5" id="place-wizard-first-step-expiration" />
                    <div id="place-wizard-first-step-expiration-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            
            <div class="control-group">
                <span class="control-label">Tags</span>
                <div class="controls">
                    <select multiple="multiple" id="place-wizard-first-step-tags-select" name="tags">
                    #{list items:tags, as:'tag'}
                        <option value="${tag.id}">${tag.name}</option>
                    #{/list}
                    </select>
                    <div id="place-wizard-first-step-tags-errorMsg" class="alert alert-error"></div>
<!--                 #{list items:tags, as:'tag'} -->
<!--                     <input type="hidden" name="{tag.name}" value="false" /> -->
<!--                     <span class="label" style="background:${tag.color};">${tag}</span> -->
<!--                 #{/list} -->
                </div>
            </div>
            
            <div class="control-group">
                <span class="control-label">Tag principal</span>
                <div class="controls">
                    <select id="place-wizard-first-step-mainTag-select" name="mainTag">
                    #{list items:tags, as:'tag'}
                        <option value="${tag.id}">${tag.name}</option>
                    #{/list}
                    </select>
                    <div id="place-wizard-first-step-mainTag-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="pull-right">
        <input type="button" class="btn btn-warning" value="&{'cancel'}" id="place-wizard-first-step-cancel-btn" />
        <input type="button" class="btn btn-primary" value="&{'next'} >" id="place-wizard-first-step-next-btn" />
    </div>
</div>