<div class="row-fluid">

    <div class="span9">
        <form class="form-horizontal">
            <div class="alert alert-danger" id="place-wizard-first-step-unknown-errorMsg">
              Certaines données indiquées sont invalides.
            </div>
            <div class="control-group">
                <label class="control-label" for="place-wizard-first-step-name-text">Nom du lieu </label>
                <div class="controls">
                    <input type="text" id="place-wizard-first-step-name-text" />
                    <div id="place-wizard-first-step-name-text-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="place-wizard-first-step-accuracy">Précision de la géolocalisation requise </label>
                <div class="controls">
                    <select id="place-wizard-first-step-accuracy">
                      <option value="low">Faible</option>
                      <option value="medium">Moyenne</option>
                      <option value="high">Forte</option>
                    </select>
                    <div id="place-wizard-first-step-accuracy-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            
            <div class="control-group">
                <span class="control-label">Tag principal</span>
                  <div class="controls" id="place-wizard-first-step-mainTag-container">
                    #{list items:tags, as:'tag'}
                      <a href="#" class="label" data-color="#${tag.color}" data-value="${tag.id}" style="padding:3px">${tag.name}</a>
                    #{/list}
                    <div id="place-wizard-first-step-mainTag-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
            
            <div class="control-group">
                <span class="control-label">Tags additionnels</span>
                <div class="controls" id="place-wizard-first-step-tags-container">
                     #{list items:tags, as:'tag'}
                       <a href="#" class="label" data-color="#${tag.color}" data-value="${tag.id}" style="padding:3px">${tag.name}</a>
                     #{/list}
                    <div id="place-wizard-first-step-tags-errorMsg" class="alert alert-error"></div>
                </div>
            </div>
        </form>
    </div>
</div>