<div class="row-fluid">
	<div class="span12">
		<form class="form-search" action="#">
			<input type="text" id="place-wizard-second-step-geocoding-field" value="Rechercher une adresse" class="hint" />
			<input type="button" class="btn" id="place-wizard-second-step-geocoding-button" value="Rechercher" /> 
			<img src="@{'/public/images/loader.gif'}" id="place-wizard-second-step-geocoding-loader" />
			<span class="alert alert-danger" id="place-wizard-second-step-geocoding-alert">Aucun lieu n'a été trouvé</span>
		</form>
	</div>
</div>

<div class="container-fluid well">
	<div class="row-fluid">
	    <div class="span6">
	        <div class="btn-toolbar">
	            <div class="btn-group">
	                <a href="#" class="btn btn-primary" id="place-wizard-second-step-navigate-button">
	                    1. Naviguer
	                </a>
	                <a href="#" class="btn" id="place-wizard-second-step-draw-button">
	                    2. Localiser
	                </a>
	                <a href="#" class="btn disabled" id="place-wizard-second-step-transform-button">
	                    3. Ajuster
	                </a>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row-fluid">
	    <div class="span8" id="place-wizard-second-step-map-container" style="height: 230px;"></div>

		<form class="span4 form-inline" action="#">
			<div class="control-group">
				<label class="control-label" for="place-wizard-second-step-longitude">&{'longitude'}</label>
				<div class="controls">
					<input type="text" id="place-wizard-second-step-longitude" disabled="disabled" />
					<div id="place-wizard-second-step-longitude-errorMsg" class="alert alert-error"></div>
				</div>
					
				<label class="control-label" for="place-wizard-second-step-latitude">&{'latitude'}</label>
	            <div class="controls">
	                <input type="text" id="place-wizard-second-step-latitude" disabled="disabled" />
	                <div id="place-wizard-second-step-latitude-errorMsg" class="alert alert-error"></div>
	            </div>
        
	            <label class="control-label" for="place-wizard-second-step-radius">&{'radius'}</label>
	            <div class="controls">
	                <input type="text" id="place-wizard-second-step-radius" disabled="disabled" />
	                <div id="place-wizard-second-step-radius-errorMsg" class="alert alert-error"></div>
	            </div>
			</div>
		</form>
	</div>
</div>