<div class="row-fluid">
    <div class="span6">
        <fieldset>
            <legend>Informations</legend>
            
            <form class="form-horizontal" action="#">
                <div class="control-group">
                    <label class="control-label">&{'name'}</label>
                    <div class="controls">
                        <div class="input-large uneditable-input" id="place-wizard-third-step-name"></div>
                    </div>
                </div>
                
                <div class="control-group">    
                    <label class="control-label">&{'accuracy'}</label>
                    <div class="controls">
                        <div class="input-large uneditable-input" id="place-wizard-third-step-accuracy"></div>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">&{'tags'}</label>
                    <div class="controls" id="place-wizard-third-step-tags-container"></div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">&{'mainTag'}</label>
                    <div class="controls" id="place-wizard-third-step-mainTag-container">
                    </div>
                </div>
                 
                 <div class="control-group">
                    <label class="control-label">&{'longitude'}</label>
	                <div class="controls">
	                    <div class="input-large uneditable-input" id="place-wizard-third-step-longitude"></div>
	                </div>
                </div>
                
                <div class="control-group">
	                <label class="control-label">&{'latitude'}</label>
	                <div class="controls">
	                    <div class="input-large uneditable-input" id="place-wizard-third-step-latitude"></div>
	                </div>
                </div>
                
                <div class="control-group">
	                <label class="control-label">&{'radius'}</label>
	                <div class="controls">
	                    <div class="input-large uneditable-input" id="place-wizard-third-step-radius"></div>
	                </div>
                </div>
            </form>
         </fieldset>
    </div>
    <div class="span6">
        <fieldset>
            <legend>&{'map'}</legend>
            <div id="place-wizard-third-step-map-container" style="width: 100%; height: 200px;"></div>
        </fieldset>
    </div>
</div>